.div-color {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    left: 20;
    justify-content: center;
  }
  
  button {
      position: absolute;
    margin-top: 10px;
    background-color: #282c34;
    color: white;
    height: 6rem;
    width: 10rem;
    font-weight: 600;
    font-size: calc(10px + 4vmin);
    border-radius: 1rem;
  }
  
  button:hover {
    transform: scale(0.8);
    color: #282c34;
    font-weight: 800;
    border: none;
    background-color: orange;
  }
  
  label {
    color: #282c34;
    font-weight: 600;
    font-size: calc(10px + 4vmin);
    font-weight: 900;
    width: 100%;
  }
  
  input {
    margin-top: 10px;
    height: 4rem;
    width: 12rem;
    padding: 1rem;
    font-size: calc(10px + 4vmin);
    font-weight: 400;
    border: 5px solid;
    border-color: #282c34;
    width: 100%;
    border-radius: 1rem;
  }
  
  input:hover {
    background: orange;
  }
  
  select {
    color: #282c34;
    font-weight: 400;
    margin-left: 1rem;
    font-size: calc(10px + 3vmin);
    padding: 1rem;
    height: 15%;
    width: 100%;
    border: 5px solid;
    border-color: #282c34;
    border-radius: 1rem;
  }
  
  select:hover {
    background: orange;
  }
  
  #black {
    color: #fff;
    background: black;
    border-radius: 1rem;
  }
  
  #red {
    color: #fff;
    background-color: red;
  }
  
  #white {
    background-color: white;
  }
  
  select:focus > #black:checked {
    color: #fff;
    background: #000 !important;
  }
  
  select:focus > #red:checked {
    color: #fff;
    background: red !important;
  }
  
  select:focus > #white:checked {
    background: white !important;
  }
  
  .display {
    margin-top: 10%;
    margin-left: 5%;
    height: 100%;
    width: 50rem;
    border-radius: 1rem;
    font-size: calc(10px + 4vmin);
    font-weight: 400;
    color: #fff;
    background-color: #282c34;
  }
  
  @media all and (max-width: 720px) {
    .div-color {
      position: relative;
      height: max-content;
      width: auto;
      left: 20;
      align-items: center;
    }
  
    button {
      margin-top: 10px;
      background-color: #282c34;
      color: white;
      height: 5%;
      width: auto;
      font-weight: 500;
      font-size: calc(10px + 4vmin);
    }
  
    button:hover {
      background-color: #171718;
    }
  
    label {
      color: #282c34;
      font-weight: 600;
      font-size: 100%;
    }
  
    input {
      color: #282c34;
      margin-top: 10px;
      height: max-content;
      width: max-content;
      font-size: 100%;
      font-weight: 600;
    }
  
    select {
      color: #282c34;
      font-weight: 300;
      font-size: 100%;
      margin-top: 10px;
      height: max-content;
      width: max-content;
    }
  }