.div-color {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.display-left {
    height: 100%;
    max-height: 50rem;
    width: 100%;
    max-width: 50rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    margin-top: 2rem;
    margin-right: 3rem;
    background-color: #282c34;
    color: white;
    height: 15%;
    width: 50%;
    font-weight: 600;
    font-size: calc(10px + 4vmin);
    border-radius: 1rem;
}

.selectColorBtn {
    margin-right: 3rem;
    color: #282c34;
    background-color: transparent;
    border: none;
    padding: 1rem;
}

.icon {
    margin-right: 1rem;
} 

button:hover {
    transform: scale(0.9);
    color: #282c34;
    font-weight: 800;
    border: none;
    background-color: orange;
}

label {
    color: #282c34;
    font-weight: 600;
    font-size: calc(10px + 4vmin);
    font-weight: 900;
    width: 100%;
}

input {
    margin-top: 10px;
    height: 7%;
    width: 15%;
    padding: 1rem;
    font-size: calc(10px + 4vmin);
    font-weight: 400;
    border: 5px solid;
    border-color: #282c34;
    width: 100%;
    border-radius: 1rem;
}

input:hover {
    background: orange;
}

select {
    color: #282c34;
    font-weight: 400;
    margin-left: 1rem;
    font-size: calc(10px + 3vmin);
    padding: 1rem;
    height: 15%;
    width: 100%;
    border: 5px solid;
    border-color: #282c34;
    border-radius: 1rem;
}

select:hover {
    background: orange;
}

#black {
    color: #fff;
    background: black;
    border-radius: 1rem;
}

#red {
    color: #fff;
    background-color: red;
}

#white {
    background-color: white;
}

select:focus>#black:checked {
    color: #fff;
    background: #000 !important;
}

select:focus>#red:checked {
    color: #fff;
    background: red !important;
}

select:focus>#white:checked {
    background: white !important;
}

.display-right {
    margin: 3rem;
    padding: 0.5rem;
    height: 70%;
    width: 60%;
    border-radius: 1rem;
    font-size: calc(10px + 3vmin);
    font-weight: 400;
    color: #fff;
    background-color: #282c34;
}

@media all and (max-width: 720px) {
    .div-color {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        
    }
    .display-left {
        height: 100%;
        max-height: 40rem;
        width: 100%;
        max-width: 40rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
   
    button {
        margin-top: 10px;
        background-color: #282c34;
        color: white;
        height: 20%;
        width: 40%;
        font-weight: 500;
        font-size: calc(10px + 2vmin);
    }

    button:hover {
        transform: scale(0.9);
        color: #282c34;
        font-weight: 800;
        border: none;
        background-color: orange;
    }

    label {
        color: #282c34;
        font-weight: 600;
        font-size: 100%;
        margin-right: 0.5rem;
        float: left;
    }
 
    input {
        color: #282c34;
        margin-top: 10px;
        height: max-content;
        width: max-content;
        font-size: 100%;
        font-weight: 600;
    }

    select {
        color: #282c34;
        font-weight: 300;
        font-size: 100%;
        margin-top: 10px;
        height: max-content;
        width: max-content;
    }

    .display-right {
        height: 50%;
        width: 50%;
        margin-left: 18%;
        font-size: 100%;
    }

}